## With OPP

In [1]:
class Employee:
    def __init__(self, employee_name, number, address, salary, post, year_of_joining, education, experience):
        self.employee_name = employee_name
        self.number = number
        self.address = address
        self.salary = salary
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.experience = experience

    def describe_employee(self):
        print("-----------------------------------------")
        print(f"Employee        : {self.employee_name}")
        print(f"Number          : {self.number}")
        print(f"Address         : {self.address}")
        print(f"Salary          : {self.salary}")
        print(f"Post            : {self.post}")
        print(f"Joining         : {self.year_of_joining}")
        print(f"education       : {self.education}")
        print(f"experience      : {self.experience}")
        print("-----------------------------------------")


    def update_year_of_experience(self):
        print(f"Current Experience : {self.experience}")
        new_experience = None
        while new_experience == None or new_experience <= 0:
            try:
                new_experience = int(input("Enter how much experience you want to increase :"))
                if new_experience <= 0:
                    print("Enter greater value")
                else:
                    self.experience += new_experience
                    print(f"Experience increased: new salary {self.experience}")
            except:
                print("Enter a valid value")
  
    def increase_salary(self):
        print(f"Current Salary : {self.salary}")
        new_salary = None
        while new_salary == None or new_salary <= 0:
            try:
                new_salary = int(input("Enter how much salary you want to increase :"))
                if new_salary <= 0:
                    print("Enter greater value")
                else:
                    self.salary += new_salary
                    print(f"Salary Increased: new salary {self.salary}")
            except:
                print("Enter a valid value")

In [2]:
employee1 = Employee("Umer Faizyab", "412432156", "123 house karachi", 300000, "data analyst", 2020, "intermediate", 4)
employee2 = Employee("Ayesha Ali", "412432157", "456 street karachi", 150000, "software developer", 2021, "bachelor's", 3)
employee3 = Employee("Ahmed Khan", "412432158", "789 avenue lahore", 300000, "network engineer", 2019, "bachelor's", 5)
employee4 = Employee("Sara Malik", "412432159", "321 boulevard islamabad", 250000, "project manager", 2018, "master's", 6)
employee5 = Employee("Ali Raza", "412432160", "654 street peshawar", 280000, "web developer", 2022, "diploma", 1)
employee6 = Employee("Fatima Shaikh", "412432161", "987 colony karachi", 220000, "graphic designer", 2021, "intermediate", 2)
employee7 = Employee("Bilal Ahmed", "412432162", "159 block multan", 300000, "system administrator", 2017, "master's", 7)
employee8 = Employee("Zara Hassan", "412432163", "753 sector lahore", 270000, "business analyst", 2020, "bachelor's", 3)
employee9 = Employee("Omar Siddiqui", "412432164", "852 road islamabad", 120000, "QA engineer", 2019, "bachelor's", 4)
employee10 = Employee("Maha Javed", "412432165", "147 society karachi", 280000, "UI/UX designer", 2020, "bachelor's", 3)

In [3]:
employee1.describe_employee()
employee2.describe_employee()
employee3.describe_employee()
employee4.describe_employee()
employee5.describe_employee()
employee6.describe_employee()
employee7.describe_employee()
employee8.describe_employee()
employee9.describe_employee()
employee10.describe_employee()

-----------------------------------------
Employee        : Umer Faizyab
Number          : 412432156
Address         : 123 house karachi
Salary          : 300000
Post            : data analyst
Joining         : 2020
education       : intermediate
experience      : 4
-----------------------------------------
-----------------------------------------
Employee        : Ayesha Ali
Number          : 412432157
Address         : 456 street karachi
Salary          : 150000
Post            : software developer
Joining         : 2021
education       : bachelor's
experience      : 3
-----------------------------------------
-----------------------------------------
Employee        : Ahmed Khan
Number          : 412432158
Address         : 789 avenue lahore
Salary          : 300000
Post            : network engineer
Joining         : 2019
education       : bachelor's
experience      : 5
-----------------------------------------
-----------------------------------------
Employee        : Sara Malik
Number          : 412432159
Address         : 321 boulevard islamabad
Salary          : 250000
Post            : project manager
Joining         : 2018
education       : master's
experience      : 6
-----------------------------------------
-----------------------------------------
Employee        : Ali Raza
Number          : 412432160
Address         : 654 street peshawar
Salary          : 280000
Post            : web developer
Joining         : 2022
education       : diploma
experience      : 1
-----------------------------------------
-----------------------------------------
Employee        : Fatima Shaikh
Number          : 412432161
Address         : 987 colony karachi
Salary          : 220000
Post            : graphic designer
Joining         : 2021
education       : intermediate
experience      : 2
-----------------------------------------
-----------------------------------------
Employee        : Bilal Ahmed
Number          : 412432162
Address         : 159 block multan
Salary          : 300000
Post            : system administrator
Joining         : 2017
education       : master's
experience      : 7
-----------------------------------------
-----------------------------------------
Employee        : Zara Hassan
Number          : 412432163
Address         : 753 sector lahore
Salary          : 270000
Post            : business analyst
Joining         : 2020
education       : bachelor's
experience      : 3
-----------------------------------------
-----------------------------------------
Employee        : Omar Siddiqui
Number          : 412432164
Address         : 852 road islamabad
Salary          : 120000
Post            : QA engineer
Joining         : 2019
education       : bachelor's
experience      : 4
-----------------------------------------
-----------------------------------------
Employee        : Maha Javed
Number          : 412432165
Address         : 147 society karachi
Salary          : 280000
Post            : UI/UX designer
Joining         : 2020
education       : bachelor's
experience      : 3
-----------------------------------------

In [4]:
employee2.salary

150000

In [5]:
employee2.increase_salary()

Current Salary : 150000

Enter how much salary you want to increase : 20000

Salary Increased: new salary 170000

In [6]:
employee2.describe_employee()

-----------------------------------------
Employee        : Ayesha Ali
Number          : 412432157
Address         : 456 street karachi
Salary          : 170000
Post            : software developer
Joining         : 2021
education       : bachelor's
experience      : 3
-----------------------------------------

In [7]:
employee2.update_year_of_experience()

Current Experience : 3

Enter how much experience you want to increase : 1

Experience increased: new salary 4

In [8]:
employee4.update_year_of_experience()

Current Experience : 6

Enter how much experience you want to increase : 1

Experience increased: new salary 7

In [9]:
employee4.describe_employee()

-----------------------------------------
Employee        : Sara Malik
Number          : 412432159
Address         : 321 boulevard islamabad
Salary          : 250000
Post            : project manager
Joining         : 2018
education       : master's
experience      : 7
-----------------------------------------

## Without OOP

In [11]:
employees_data = {
    "employee1": {
        "name": "Umer Faizyab",
        "phone": "412432156",
        "address": "123 house karachi",
        "salary": 300000,
        "position": "data analyst",
        "year_joined": 2020,
        "education": "intermediate",
        "experience": 4
    },
    "employee2": {
        "name": "Ayesha Ali",
        "phone": "412432157",
        "address": "456 street karachi",
        "salary": 150000,
        "position": "software developer",
        "year_joined": 2021,
        "education": "bachelor's",
        "experience": 3
    },
    "employee3": {
        "name": "Ahmed Khan",
        "phone": "412432158",
        "address": "789 avenue lahore",
        "salary": 300000,
        "position": "network engineer",
        "year_joined": 2019,
        "education": "bachelor's",
        "experience": 5
    },
    "employee4": {
        "name": "Sara Malik",
        "phone": "412432159",
        "address": "321 boulevard islamabad",
        "salary": 250000,
        "position": "project manager",
        "year_joined": 2018,
        "education": "master's",
        "experience": 6
    },
    "employee5": {
        "name": "Ali Raza",
        "phone": "412432160",
        "address": "654 street peshawar",
        "salary": 280000,
        "position": "web developer",
        "year_joined": 2022,
        "education": "diploma",
        "experience": 1
    },
    "employee6": {
        "name": "Fatima Shaikh",
        "phone": "412432161",
        "address": "987 colony karachi",
        "salary": 220000,
        "position": "graphic designer",
        "year_joined": 2021,
        "education": "intermediate",
        "experience": 2
    },
    "employee7": {
        "name": "Bilal Ahmed",
        "phone": "412432162",
        "address": "159 block multan",
        "salary": 300000,
        "position": "system administrator",
        "year_joined": 2017,
        "education": "master's",
        "experience": 7
    },
    "employee8": {
        "name": "Zara Hassan",
        "phone": "412432163",
        "address": "753 sector lahore",
        "salary": 270000,
        "position": "business analyst",
        "year_joined": 2020,
        "education": "bachelor's",
        "experience": 3
    },
    "employee9": {
        "name": "Omar Siddiqui",
        "phone": "412432164",
        "address": "852 road islamabad",
        "salary": 120000,
        "position": "QA engineer",
        "year_joined": 2019,
        "education": "bachelor's",
        "experience": 4
    },
    "employee10": {
        "name": "Maha Javed",
        "phone": "412432165",
        "address": "147 society karachi",
        "salary": 280000,
        "position": "UI/UX designer",
        "year_joined": 2020,
        "education": "bachelor's",
        "experience": 3
    }
}

In [13]:
print(employees_data['employee1'])

{'name': 'Umer Faizyab', 'phone': '412432156', 'address': '123 house karachi', 'salary': 300000, 'position': 'data analyst', 'year_joined': 2020, 'education': 'intermediate', 'experience': 4}

In [14]:
print(employees_data['employee3'])

{'name': 'Ahmed Khan', 'phone': '412432158', 'address': '789 avenue lahore', 'salary': 300000, 'position': 'network engineer', 'year_joined': 2019, 'education': "bachelor's", 'experience': 5}

In [15]:
print(employees_data['employee1']['salary'])

300000

In [16]:
employees_data['employee1']['salary'] = 315000

In [17]:
print(employees_data['employee1']['salary'])

315000